* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #1e1e1e;
}

/* ===== NAVBAR ===== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.logo {
    font-size: 32px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #111827;
    color: #ffffff
}

.contact-btn {
    background-color: #111827;
    color: #ffffff !important;
    padding: 10px 22px;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
}

.contact-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(17, 24, 39, 0.3);
}

/* ===== HERO SECTION ===== */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 12px;
    font-weight: 500;
    transition: 0.3s ease;
}

.primary {
    background-color: #0f172a;
    color: white;
}

.primary:hover {
    background-color: #1e293b;
}

.secondary {
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
}

.secondary:hover {
    background-color: #1e1e1e;
    color: white;
}

/* ===== HERO IMAGE ===== */

.hero-image img {
    width: 450px;
    max-width: 100%;
}

/* ===== ABOUT SECTION ===== */

.about {
    padding: 50px 100px;
    background-color: #fff;
}

.about-container {
    max-width: 1100px;
    margin: auto;
    background-color: #cfd8e3;
    border-radius: 8px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-image img {
    width: 420px;
    max-width: 100%;
}

.about-content {
    max-width: 420px;
}

.about-content h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
}

/* Resume Button */

.resume-btn {
    display: inline-block;
    background-color: #111827;
    color: #ffffff;
    padding: 10px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 14px;
}

/* Hover Animation (Upward Translate) */

.resume-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* ===== SKILLS SECTION ===== */

.skills {
    padding: 100px 80px;
    text-align: center;
    background-color: #fff;
}

.skills-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* Category Titles */
.skill-category {
    margin-bottom: 70px;
}

.skill-category h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 3px solid #111827;
    padding-bottom: 5px;
}

/* Tags (Pill Buttons) */
.skill-tags {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid #111827;
    border-radius: 30px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover Effect */
.tag:hover {
    background-color: #111827;
    color: #ffffff;
}

/* Tools Section */
.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tool-item {
    text-align: center;
}

.tool-item img {
    width: 70px;
    margin-bottom: 15px;
}

.tool-item span {
    display: block;
}

/* ===== PROJECTS SECTION ===== */

.projects {
    padding: 50px 80px;
    background-color: #fff;
    text-align: center;
}

.projects-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Filter Buttons */

.project-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 10px 22px;
    border: 1px solid #111827;
    background: transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Hover */
.filter-btn:hover {
    background-color: #111827;
    color: #ffffff;
}

/* Active (Clicked State) */
.filter-btn.active {
    background-color: #111827;
    color: #ffffff;
}


/* Project Cards Layout */

.project-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card {
    width: 320px;
    border: 1px solid #111827;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    background: #ffffff;
}

/* Image Container */

.project-image {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project-image img {
    .project-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Different Background Colors */

.green {
    background-color: #7ed321;
}

.red {
    background-color: #f12727;
}

.gold {
    background-color: #b39b4d;
}

/* Card Text */

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Case Study Button */

.case-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111827;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.case-btn:hover {
    transform: translateY(-3px);
}

/* GRID */
.ui-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    margin: auto;
}

/* CARD */
.ui-card-item {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.ui-card-item:hover {
    transform: translateY(-5px);
}

/* IMAGE BOX */
.ui-card-image {
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ui-card-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* BACKGROUND COLORS */
.blue-bg {
    background: #5f9ee6;
}

.beige-bg {
    background: #d8c193;
}

.light-bg {
    background: #FFFFFF;
}

.purple-bg {
    background: linear-gradient(45deg, #9333ea, #c084fc);
}

.cream-bg {
    background: #FFF4EE;
}

.violet-bg {
    background: #794FBB;
}

/* TITLE */
.ui-card-item h3 {
    margin: 20px 0;
    font-size: 20px;
}

/* BUTTON */
.ui-view-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111827;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.ui-view-btn:hover {
    opacity: 0.85;
}

.ui-view-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

/* GRID */
.webprojects-grid {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* CARD */
.webprojects-card {
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

.webprojects-card:hover {
    transform: translateY(-6px);
}

/* IMAGE CONTAINER */
.webprojects-image {
    height: 240px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.webprojects-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* BACKGROUND COLORS */
.webprojects-purple {
    background: linear-gradient(135deg, #e0e7ff, #7c3aed);
}

.webprojects-coral {
    background: #f87171;
}

.webprojects-dark {
    background: #1f1f1f;
}

.webprojects-navy {
    background: #0f172a;
}

/* TITLE */
.webprojects-card h3 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
}

/* BUTTON */
.webprojects-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111827;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.webprojects-btn:hover {
    opacity: 0.85;
}

.webprojects-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Hide sections by default */
.project-cards,
.uiSection,
.webprojects-grid {
    display: none;
}

.show-section {
    display: block;
}

.webprojects-grid.show-section {
    display: grid;
}

.project-cards.show-section {
    display: flex;
}

.container {
      width: 100%;
      text-align: center;
      padding: 40px 0;
    }

    .container h1 {
      margin-bottom: 40px;
      letter-spacing: 2px;
      font-weight: 600;
    }

    .contact-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;
    }

    .contact-item {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 20px;
      color: black;
    }

    .icon {
      width: 55px;
      height: 55px;
      background: #0f172a;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 22px;
    }