body{
   margin: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150vh;
   background-color: #1e1e1e;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 32, 32);
    border-radius: 15px;
    width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    background-color: rgb(66, 60, 60);
    text-align: left;
    border: none;
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(170, 169, 169);
}

button:active{
    background-color: hsl(0, 0%, 40%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%)
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%)
}